*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    position:relative;
}

body{
    min-height: 100vh;
    background-color: #0F1035;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1,h2{
  font-family: 'Black Ops One', system-ui;
}

h3{
  font-family: 'Tektur', sans-serif;
  font-size:2rem;
  color:white;
  letter-spacing: 5px;
}

.container{
  width:90%;
  margin:auto;
  padding:3rem;
}

.home-slider-container{
  width:90%;
  margin:auto;
  padding: 0 3rem;
}

.gradient-background{
  background: linear-gradient(300deg,#85edfb,#8d5293,#24142c);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
 /* Custom pointer effect */
.cursor{
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #8d5293;
  filter:blur(50px);
  z-index: -50;
  position: fixed;
}

.upcoming-event{
  display:flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.upcoming-poster{
  max-width: 25rem;
}

.upcoming-div{
  border: 2px solid #85edfb;
  padding:1rem;
}

/* Styling for Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top:0;
    z-index: 2;
}

.website-title{
  display:flex;
  gap:1rem;
  align-items: center;
}

.website-logo{
  border-radius:50%;
  height:2.2rem;
  border: 1px solid white;
}

.neon-text{
  font-size:2rem;
  color:#fff;
  text-shadow:0 0 10px #ff005b;
}

.features{
  display: flex;
  /* gap:3rem; */
  align-items: center;
  padding: 1rem 3rem;
}

.feature-item{
    list-style: none;
    /* padding-left:1rem; */
    font-size:1.2rem;
}

.nav-item{
  position:relative;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 
    -1px -1px 0 #0F1035,  
     1px -1px 0 #0F1035,
    -1px 1px 0 #0F1035,
     1px 1px 0 #0F1035;
  /* padding:1rem; */
  z-index:5;
  font-weight: 900;
  padding:1rem 1.5rem 1rem 1rem;
}

.nav-item::before{
  content:'';
  display:block;
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  /* background:hsl(200, 100%, 80%); */
  background-color: #FFD600 ;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index:-1;
  transform-origin: right;
}

.nav-item:hover::before{
  color:purple;
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-btn{
  display:none;
  cursor: pointer;
}

.nav-icon{
  height:2rem;
}

/* Styling for the dropdown */
/* .dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 5px solid rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 6;
  margin:1rem auto 0 auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-list{
  list-style: none;
}

.dropdown-item {
  color: #0F1035;
  font-size:1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #FFD600;
} */

/* Styling for the Website Quote Section */
.website-quote{
  max-width:90%;
  margin: 1rem auto;
  border-radius: 10px;
  text-align: center;
  color:white;
  padding: 4rem;
}

.quote-heading{
  font-size: 3rem;
}

.quote-description{
  font-size: 1.5rem;
}

/* Styling for Benefits Section */
.benefits, .faqs, .cordinators{
  display:flex;
  /* gap:2rem; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

.benefit{
  padding:1.5rem;
  margin:1rem;
  max-width:250px;
  text-align:center;
  font-size: 1.2rem;
  border: 2px solid purple;
  border-radius: 10px;
}

.benefit:hover{
  color: #85edfb ;
  scale: 1.05;
}
.benefit-icon{
  font-size:2rem;
  margin-bottom:1rem;
}

/* Styling for Cordinator Section */
.cordinator{
  padding:1.5rem;
  margin:2rem 1rem 1rem 1rem ;
  max-width:300px;
  text-align:center;
  font-size: 1rem;
  /* border: 2px solid purple;
  border-radius: 10px; */
}
.cordinator-image{
  border-radius:100%;
  width:12rem;
  border: 2px solid white;
}

.cordinator-name{
  color:#85edfb;
  font-family: 'Kanit', sans-serif;
  font-size: 1.2rem;
}

/* Styling for FAQ's Section */
.faq{
  padding:1.5rem;
  margin:2rem 1rem 1rem 1rem ;
  width:40%;
  font-size: 1rem;
  border: 2px solid #85edfb;
  border-radius: 10px;
}

.faq:hover{
  border-color: #FFD600;
  scale: 1.05;
   /* transform: scale(1.05); */
}

.question{
  font-weight: bold;
  color:#FF00CD;
  margin-bottom: 0.5rem;
}

/* Styling for Contact Section */
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-list{
	list-style: none;
}
.footer{
	background-color: #8d5293;
  padding: 3rem 0;
  margin-top:3rem;
}
/* #24262b */
.footer-col{
   width: 25%;
   padding: 0 1rem;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -1rem;
	background-color: #FFD600;
  /* #e91e63 */
	height: 2px;
	box-sizing: border-box;
	width: 3.5rem;
}

.footer-list li:not(:last-child){
	margin-bottom: 10px;
}

.footer-list li a{
	font-size: 1rem;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-list li a:hover{
	color: #ffffff;
	padding-left: 0.5rem;
}

.footer-col .social-links a{
	display: inline-block;
	height: 3rem;
	width: 3rem;
	background-color: rgba(255,255,255,0.2);
	margin:0 1rem 1rem 0;
	text-align: center;
	line-height: 3rem;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #85edfb;
  /* #ffffff */
}

.copyright{
  color:white;
  margin:1rem;
}

/* ------------------------------------------ */

        /* Styling for Events Page */ 

/* -------------------------------------------- */

.slider-container {
  margin: 0;
  padding-top: 2rem;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  max-width: 50%;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  /* height: 400px; */
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 100%;
  /* height: 400px; */
  aspect-ratio: 16 / 9;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for events cards  */
.container-card{
  width:90%;
  margin: auto;
}

.events {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.card {
  position: relative;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  font-weight: 900;
  font-size: 3rem;
  margin: 3rem 3rem 0 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.card.techBuzz{
  background-image: url(../images/Events/Techbuzz.JPG);
}

.card.techMania{
  background-image: url(../images/Events/TechMania.jpg);
}

.card.techFiesta{
  background-image: url(../images/Events/Tech_Fiesta.jpg);
  /* background-color: black; */
}

.card.techinnovation{
  background-image: url(../images/Events/Techno_innovation_blitz.jpg);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}

.card:hover .name {
  scale: 0;
  transition: all 0.4s ease-in-out;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  width: 90%;
  height: 90%;
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(3px) saturate(50%);
  background-color: rgba(178, 50, 195, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.card:hover .details {
  transform: translate(-50%, -50%) rotate(5deg);
  opacity: 1;
  border-radius: 10px;
}

.title {
  margin: 0;
  font-size: 24px;
  color: #eee;
  font-weight: 700;
}

.description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

/* ------------------------------------------ */

        /* Styling for About Page */ 

/* -------------------------------------------- */

.about-body {
  background: rgb(142, 209, 247);
  background: radial-gradient(circle, rgba(142, 209, 247, 1) 0%, rgba(212, 175, 238, 1) 76%)
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.logo {
  text-align: center;
}

.logo img {
  max-width: 100%;
}

.info {
  padding-top: 2rem;
}

.welcome{
  color: #c3195d;
  font: bold;
}

.describe{
  color: #141010;
  line-height: 2.0;
  font-size: larger;
}

/* ------------------------------------------ */

        /* Styling for Members Page */ 

/* -------------------------------------------- */

.Member-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(142, 209, 247);
    background: radial-gradient(circle, rgba(142, 209, 247, 1) 0%, rgba(212, 175, 238, 1) 76%);
}

.wrapper {
    background: white;
    width: 90%;
    /* Adjusted width for responsiveness */
    max-width: 780px;
    height: min-content;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 0 2px rgb(116, 119, 198), 8px 8px 0 0 rgb(10, 7, 8);
    margin-bottom: 20px;
    /* Added margin to create space between sections */
    flex-direction: column;

}

.teams {
    text-align: center;
}

.Members-line {
    width: 100px;
    margin: 10px auto;
}

.members {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}


.team-mem {
    margin: 12px;
    text-align: center;
}

.Members-image {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    margin: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.members-p {
    text-align: center;
    font-size: 14px;
    margin: 7px;
    color: black;
}

/* ------------------------------------------ */

        /* Styling for Register Page */ 

/* -------------------------------------------- */
.register-heading{
  font-size: 2rem;
  color:white;
  padding:2rem 0;
}

.event-details, .register-link-box{
  padding:2rem;
  border-radius:10px;
  border: 2px solid #85edfb;
  font-size:1.5rem;
}

.event-details-list{
  font-size:1.5rem;
  display: inline-block;
}

.event-name{
  color:white;
  font-size: 1.8rem;
  font-weight: bold;
}

.register-para{
  color:white;
  font-size:1.2rem;
  font-weight: bold;
}

.event-poster{
  padding:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.event-poster-image{
  max-width:100%;
  border-radius:10px;
  height:50vh;
}

.register-link{
  text-decoration: none;
  color:#85edfb;
}

.register-link:hover{
  padding-left: 1rem;
  color:#8d5293;
}



/* ------------------------------------------ */

        /* Styling for Responsiveness */ 

/* -------------------------------------------- */
@media screen and (max-width: 1025px) {
  /* Styling for Navbar */
  .navbar-btn{
    display:block;
    z-index:100;
  }

  .close{
    display: none;
  }
 
  .features {
    width: 30%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter:blur(10px);
    border-left: 2px solid rgba(255, 255, 255, 0.9); 
    border-top-left-radius: 1rem;
    position: absolute;
    top: 0;
    right:0;
    display: block;
    text-align: center;
    padding-top: 5rem;
    /* to get the tranisition  */
    transform: translateX(100%); 
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
  }

  .nav-item{
    color:#0F1035;
    text-shadow: none;
    padding:0;
  }

  .feature-item{
    padding:1rem;
  }

  .active .features{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
  }

  .active .menu{
    display:none;
  }

  .active .close{
    display:block;
  }

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }

  /* Members Page */
  .wrapper {
    width: 100%;
    /* Adjusted width for smaller screens */
  }

  .Members-image{
    width: 80px;
    height: 80px;
  }

  .members-p {
    font-size: 12px;
  }

  .slider {
    max-width: 90%;
  }

  .cursor{
    display:none;
  }

  .upcoming-poster{
    max-width: 15rem;
  } 
}

@media screen and (max-width: 615px) {
  .features{
    width:80%;
  }

  .footer-col{
    width: 100%;
  }

  .faq{
    width:80%;
  }
}